<tr class="nested-fields">
<div class="nested-fields">
  <td>
    <%= f.hidden_field :_destroy %>
    <%= link_to 'Remove', '#', class: 'remove_fields' %>
  </td>
  <td><%= f.text_field :name, label: false %></td>
 </div>
</tr>